---
import Section from "../Section.astro";
import HTML from "@/assets/icons/html.astro";
import CSS from "@/assets/icons/css.astro";
import JavaScript from "@/assets/icons/javascript.astro";
import TypeScript from "@/assets/icons/type.astro";
import React from "@/assets/icons/react.astro";
import Node from "@/assets/icons/node.astro";
import MySQL from "@/assets/icons/sql.astro";
import Git from "@/assets/icons/git.astro";
import GitHub from "@/assets/icons/GitHub.astro";
import Tailwind from "@/assets/icons/tailwind.astro";
import Next from "@/assets/icons/next.astro";
import AstroBuild from "@/assets/icons/Astro.astro";
import { skills } from "@cv";
import Swift from "@/assets/icons/swift.astro";
import SwiftUI from "@/assets/icons/swiftui.astro";
import Kotlin from "@/assets/icons/kotlin.astro";
import Flutter from "@/assets/icons/flutter.astro";
import Oracle from "@/assets/icons/Oracle.astro";
import Latex from "@/assets/icons/latex.astro";
const SKILLS_ICONS: Record<string, any> = {
    HTML,
    CSS,
    JavaScript,
    TypeScript,
    React,
    Node,
    MySQL,
    Git,
    GitHub,
    Next,
    Tailwind,
    Swift,
    SwiftUI,
    Kotlin,
    Flutter,
    AstroBuild,
    Oracle,
    Latex,
};
---

<Section title="Habilidades">
    <ul>
        {
            skills.map(({ name }) => {
                let iconName =
                    name === "Next.js"
                        ? "Next"
                        : name === "Astro"
                          ? "AstroBuild"
                          : name === "PL/SQL"
                            ? "Oracle"
                            : name === "LaTeX"
                              ? "Latex"
                              : name;
                const Icon = SKILLS_ICONS[iconName];

                return (
                    <li class="skill">
                        {Icon && <Icon />} <span>{name}</span>
                    </li>
                );
            })
        }
    </ul>
</Section>
<style>
    ul {
        display: inline-flex;
        gap: 8px;
        flex-wrap: wrap;
    }

    li {
        align-items: center;
        background: #eee;
        border-radius: 6px;
        color: black;
        display: flex;
        font-size: 0.8rem;
        font-weight: 500;
        gap: 4px;
        padding: 0.2rem 0.6rem;
    }
</style>
